body{
    background-image: url(background-image.png);
    font-size: 20px;
    background-size:cover;
}

.contact{
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
}


.your-name , .your-email {
    width: 40%;
    height: 20px;
    padding: 12px 20px;
    /* box-sizing: border-box; */
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}
textarea {
    width: 40%;
    height: 150px;
    padding: 12px 20px;
    /* box-sizing: border-box; */
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    
}

.button-send{
    background-color: rgb(246, 90, 33);
    width: 120px;
    height: 50px;
    font-size: medium;
    border-radius: 1px;
    text-align: center;

}